.wrapper {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.container {
  margin-right: 92px;
  margin-left: 92px;
}

.cream {
  background: var(--Cream, #F9F6F1);
  margin-top: -28px;
  margin-bottom: -70px;
}